.content {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

  
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
  