---
import PrimaryLayout from '../layouts/Primary.astro';
---

<PrimaryLayout>
    <div id="main-screen-div">           
        <div class="p-8 m-6 font-sans body-links bg-fixed bg-gray-100 shadow-md max-w-4xl">
            <h1 class="text-3xl font-bold text-gray-900 mb-4">Hi, I'm Tom.</h1>
            <h2 class="text-xl text-gray-700 mb-4">
                <a href="https://github.com/thomaslillo" class="text-blue-500 hover:text-blue-800">Github</a> | 
                <a href="https://www.linkedin.com/in/thomaslillo/" class="text-blue-500 hover:text-blue-800">LinkedIn</a>
            </h2>
            <p class="text-gray-600 mb-2">
                Currently, a Senior Software Developer / Data Engineer for a major global marketplace where I'm working on the central data platform - building new APIs with .NET Core, pipelines with PySpark, and doing some cloud/big data work.
                Previously, I worked for the largest data broker in Canada, first on the Analytics Consulting team helping clients use their data effectively, then as a Backend Software Developer where I built the data intensive reporting/data API for their analytics platform.
            </p>
            <p class="text-gray-600 mb-2">
                In University, I co-founded a data science conference+workshop company called 
                <a href="https://thomaslillo.github.io/datathon-website-tailwindcss/" class="text-blue-500 hover:text-blue-800">Datathon Analytics Events</a>, teaching students to code and connecting them with industry. See an article about it 
                <a href="https://brocku.ca/brock-news/tag/datathon/" class="text-blue-500 hover:text-blue-800">here</a> or the 
                <a href="https://thomaslillo.github.io/datathon-website-tailwindcss/" class="text-blue-500 hover:text-blue-800">old website</a>.
            </p>
            <p class="text-gray-600">
                My github account above serves as my portfolio if you're interested, but there are also some examples of my work below and on my content page.
            </p>
            <br>
            <div>
                <h2 class="text-xl mb-4">Some things I like with examples:</h2>
                <ul class="list-disc space-y-2">
                    <li class="text-gray-500">
                        <span class="font-semibold text-black">Spatial data science:</span> I'm an award-winning map maker, featured in the 
                        <a href="https://map-calendar-esricanada.hub.arcgis.com/pages/aug-2021" class="text-blue-500 hover:text-blue-800">ESRI calendar</a> and 
                        <a href="https://www.esri.com/en-us/esri-press/browse/the-esri-map-book-volume-38" class="text-blue-500 hover:text-blue-800">ESRI map book</a>.
                    </li>
                    <li class="text-gray-500">
                        <span class="font-semibold text-black">Building things to solve problems without over-engineering:</span> 1st place of a Major League Hackathon with a map-based agri-tourism aggregator, detailed 
                        <a href="https://devpost.com/software/agritech-hackathon-2020-opentourism-niagara" class="text-blue-500 hover:text-blue-800">here</a>. Which uses existing spatial data from google maps in a new UI to improve attraction discovery.
                    </li>
                    <li class="text-gray-500">
                        <span class="font-semibold text-black">Building successful analytics and software capabilities or systems:</span> Which includes teaching skills, like Python, as I did at the 
                        <a href="https://github.com/thomaslillo/spatial-python-bootcamp" class="text-blue-500 hover:text-blue-800">Spatial Data Science Bootcamp</a>.
                    </li>
                    <li class="text-gray-500">
                        <span class="font-semibold text-black">Volunteering my tech skills for civic good:</span> An example being this 
                        <a href="https://github.com/CivicTechTO/missing-persons" class="text-blue-500 hover:text-blue-800">Civic Tech Toronto project</a>                                                
                        for the CBC's 5th Estate, that helps citizens match missing persons database entries to unidentified remains using the RCMP database.                         
                    </li>
                </ul>
                <div class="text-gray-600 m-4 font-sans">
                    <h3 class="text-xl mb-4 font-mono">If you need data science, analytics, or engineering help reach out to me! My team and I have over 30 years of data experience under our belts.</h3>
                </div>
            </div>                 
        </div>
        <div class="p-8 m-6 max-w-4xl body-links grid justify-items-center">            
            <h1 class="mb-4">Who can help solve your data issues?</h1>
            <video width="400" controls>
            <source src="/Prime_Time_Truth.mp4" type="video/mp4">
            Your browser does not support HTML video.
            </video>

            <p class="mb-4">
            Video courtesy of 
            <a href="https://github.com/ThePrimeagen" target="_blank">ThePrimeagen</a>.
            </p>            
        </div>
    </div>
</PrimaryLayout>
<style>
    p {
        line-height: 1.5;
    }
</style>
