---
import PrimaryLayout from '../layouts/Primary.astro';
---

<PrimaryLayout>
    <div id="main-screen-div">         
        <div class="p-10 font-sans body-links">
            <h1>Things I Like / Have Worked On:</h1>            
            <p> 
                &gt; Spatial data science, I'm an award winning map maker, getting into the <a href="https://map-calendar-esricanada.hub.arcgis.com/pages/aug-2021">ESRI calendar</a> and <a href="https://www.esri.com/en-us/esri-press/browse/the-esri-map-book-volume-38">map book</a>
            </p>                    
            <p> 
                &gt; Building systems that solve problems or provide answers with data, I've even <a href="https://devpost.com/software/agritech-hackathon-2020-opentourism-niagara">won a Major League Hackathon</a> with a map-based agri-tourim aggregator
            </p>
            <p> 
                &gt; Helping other people and organizations build successful analytics systems and teams, this includes teaching people skills like python, which I did at the <a href="https://github.com/thomaslillo/spatial-python-bootcamp">Spatial Data Science Bootcamp</a>
            </p>
        </div>                   
    </div>
</PrimaryLayout>