<footer class="py-4 font-sans text-center text-gray-800">        
    <p>legal stuff (it's all free just don't sue) 
        | Contact me on <strong><a href="https://www.linkedin.com/in/thomaslillo/">LinkedIn</a></strong>
    </p>
</footer>
