<footer class="py-4 font-sans text-center text-gray-800">        
    <p>legal stuff (it's all free just don't sue), and contact info 
        | <strong><a href="mailto:thomas.j.lillo@gmail.com"><i class="fa-regular fa-envelope"></i></a></strong> , 
        <strong><a href="https://www.linkedin.com/in/thomaslillo/">LinkedIn</a></strong>
        | Built with the <strong><a href="https://astro.build/">Astro</a></strong> framework :) </p>
</footer>
