<nav class="flex justify-between content-center">
    <div class="title p-8">
        <a href="/">
            <h1><i class="fa-solid fa-terminal"></i> Tomtropolis</i></h1> 
        </a>
    </div>
    <div class="links p-8">
        <!-- menu -->
        <ul class="flex flex-wrap">
            <li class="px-2" >
                <a href="/about"><h1> \about </h1></a>
            </li>
            <li class="px-2">
                <a href="/content"><h1> \content </h1></a>
            </li>
        </ul>
    </div>
</nav>