<nav class="flex justify-between items-center">
    <div class="title p-4 md:p-8">
        <a href="/" class="flex items-center">
            <h1 class="text-lg md:text-3xl flex items-center"><i class="fa-solid fa-terminal"></i> Tomtropolis</h1> 
        </a>
    </div>
    <div class="links">
        <ul class="flex">
            <li class="px-4">
                <a href="/about" class="text-sm md:text-xl"><h1> \about </h1></a>
            </li>
            <li class="px-4">
                <a href="/content" class="text-sm md:text-xl"><h1> \content </h1></a>
            </li>
        </ul>
    </div>
</nav>
